.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 318px;
  height: 318px;
  background: #4db6a5;
  margin: 1em; 
  color: white; 
}
.even{
  background:#6bf7df;
}
.odd{
background: #33776b;
}
.counter{
    font-size: 8em;
}
.btns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 3em;
}

button{
  margin: 1em;
  padding: 13px;
  background-color: #4db6a5;
  border: #4db6a5 solid 5px;
  border-radius: 11px;
  color: white;
}